<div class="dropdown mobile-menu">
  <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">

      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
</svg>
  </a>

  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="index">Главная</a></li>
    <li><a class="dropdown-item" href="price">Продукция</a></li>
    <li><a class="dropdown-item" href="new">Новинки</a></li>
    <li><a class="dropdown-item" href="#">Аксессуары</a></li>
      <li><a class="dropdown-item" href="#">Поддержка</a></li>
      <li><a class="dropdown-item" href="#">Карта</a></li>
  </ul>
</div>