<div class="card m-3 border-0"   style="width: 18rem;">
     <img src="/static/img/{{ item['img'] }}" class="img-fluid rounded mx-auto d-block" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ item['name'] }}</h5>
      <h4 class="text-end">{{ item['price'] }} руб.</h4>
       <p class="card-text">{{ item['description'] }}</p>
    <button  class="btn btn-primary card-btn" onclick="set_item_in_basket(); post_basketItem({{ item['id'] }})">
        BUY
    </button>
  </div>
</div>