<div class=" basket-item-card">

    <div class="basket-card-img">
        <img class="img-fluid" src="/static/img/{{ item['img'] }}" alt="...">
    </div>
    <div class="basket-card-body">
        <h5 class="card-title">{{ item['name'] }}</h5>
        <p class="card-text"><small class="text-muted">{{ item['price'] }} руб.</small></p>
        <div class="d-flex align-items-center m-2">
            <button class="btn btn-danger m-2">-</button>
            <p class="m-2">0</p>
            <button class="btn btn-primary m-2">+</button>
        </div>

    </div>
</div>